.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -20px;
   
}

.icons-container .icons {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 10px;
    display: flex;
    align-items: center;
    flex: 1 1 150px;
}

.icons-container .icons img {
    height: 50px;
    margin-right: 32px;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: 8px;
    font-size: 15px;
}

.icons-container .icons span {
    color: #555;
    font-size: 12px;
}
